[Desktop Entry]
Encoding=UTF-8
Name=taler
Comment=taler P2P Cryptocurrency
Comment[ru]=taler, P2P криптовалюта
Comment[fr]=taler, monnaie virtuelle cryptographique pair à pair
Comment[tr]=taler, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/taler-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/taler80.xpm
MimeType=x-scheme-handler/taler;
Categories=Office;
