[Unit]
Description=taler daemon serivce
After=network.target

[Service]
Type=simple
User=taler
ExecStart=/opt/taler/talerd

[Install]
WantedBy=multi-user.target
